.home {
    display: grid;
    place-items: left;
    height: 100vh;
}

.account-container {
    display: grid;
    grid-row: 3;
    grid-column: 1;
    text-align: left;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
    font-family: 'Roboto', serif;
    /* Use a serif font for h1 */
}

h3 {
    font-size: 18px;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    /* Use a sans-serif font for h3 */
}

.account-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.account-container h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.header-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Create account button */
.button {
    display: block;
    text-align: center;
    margin-top: 10px;
    /* Add space between the two buttons */
    padding: 15px;
    background-color: #000;
    /* Black background color */
    border: none;
    border-radius: 7px;
    /* Round button corners */
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    /* White text color */
    text-decoration: none;
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

.button :hover {
    background-color: #666;
    /* Dark grey hover color */
}

.users-container {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.manager-view {
    display: grid;
    grid-row: 1;
    grid-column: 3;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}