.home {
    display: grid;
    place-items: center;
    height: 100vh;
}

.account-container {
    display: grid;
    grid-row: 3;
    grid-column: 1;
    text-align: left;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

}

.account-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.account-container h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.header-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #0253a9;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #1468c2;
}

.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.manager-view {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}